<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Charles Martinot - IT Engineer{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/redbear.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}" />
        {% endblock %}
        <!--<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />-->
    </head>
    <body>
        {% block body %}
            <div class="jumbotron jumbotron-ad hidden-print">
                <div class="container"> 
                    <div class="col-md-9">
                        <h1>
                            <i class="fa fa-terminal"></i>
                              Charles Martinot
                        </h1>
                        <h2>
                            IT Engineer
                        </h2>
                        <p>
                            Graduated as engineer from a recognized French IT engineering school, which program included a 3 year part-time “work and study” at Sagem/Safran. I want to expand my knowledge and my international experience by working in Thailand. I am a hard worker, willing to learn, I am very adaptable and I know that I am a valuable asset for the team I’m working with.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('images/cvpicture.gif') }}" alt="This is me!">
                        </a>
                    </div>
                </div>                
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h1>Experience</h1>
                    </div>
                    <div class="col-md-5">                        
                        <img src="{{ asset('images/BlankMap-World6-Equirectangular.svg') }}" class="img-responsive" alt="Where I worked">
                    </div>
                    <div class="col-md-2">
                        <h3>Contact me</h3>
                        <i class="fa fa-linkedin">http://www.linkedin.com/</i>
                    </div>
                </div>
                <div class="col-md-12">
                    <h1>Education</h1>
                    <h1>Skills</h1>
                    <h1>Languages</h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">100% Complete (success)</span>
                        </div>
                        English : full professional proficiency
                    </div>
                    <h1>Hobbies</h1>
                </div>                
            </div>              
        {% endblock %}
    </body>
    {% block javascripts %}
            <script src="http://code.jquery.com/jquery-latest.js"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" />
    {% endblock %}
</html>